<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>ani_effects18_01_png-ani_ef18_chuan.png</key>
   <dict>
    <key>frame</key>
    <string>{{298,0},{103,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{103,48}}</string>
    <key>sourceSize</key>
    <string>{103,48}</string>
   </dict>
   <key>ani_effects18_01_png-ani_ef18_r3.png</key>
   <dict>
    <key>frame</key>
    <string>{{487,0},{15,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{15,27}}</string>
    <key>sourceSize</key>
    <string>{15,27}</string>
   </dict>
   <key>ani_effects18_01_png-ani_ef18_r2.png</key>
   <dict>
    <key>frame</key>
    <string>{{469,0},{16,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,26}}</string>
    <key>sourceSize</key>
    <string>{16,26}</string>
   </dict>
   <key>ani_effects18_01_png-ani_ef18_r1.png</key>
   <dict>
    <key>frame</key>
    <string>{{437,15},{15,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{15,24}}</string>
    <key>sourceSize</key>
    <string>{15,24}</string>
   </dict>
   <key>ani_effects18_01_png-ani_ef18_yan.png</key>
   <dict>
    <key>frame</key>
    <string>{{403,0},{32,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,32}}</string>
    <key>sourceSize</key>
    <string>{32,32}</string>
   </dict>
   <key>ani_effects18_01_png-ani_ef18_shuibo.png</key>
   <dict>
    <key>frame</key>
    <string>{{437,0},{30,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,13}}</string>
    <key>sourceSize</key>
    <string>{30,13}</string>
   </dict>
   <key>ani_effects18_01_png-ani_ef18_guangc.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{296,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{296,185}}</string>
    <key>sourceSize</key>
    <string>{296,185}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>ani_effects18_01.png</string>
   <key>textureFileName</key>
   <string>ani_effects18_01.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>