<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>ani_effects12_03_png-ani_ef12_3_fgan.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{67,233}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,233}}</string>
    <key>sourceSize</key>
    <string>{67,233}</string>
   </dict>
   <key>ani_effects12_03_png-ani_ef12_3_f1.png</key>
   <dict>
    <key>frame</key>
    <string>{{69,144},{84,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,118}}</string>
    <key>sourceSize</key>
    <string>{84,118}</string>
   </dict>
   <key>ani_effects12_03_png-ani_ef12_3_f2.png</key>
   <dict>
    <key>frame</key>
    <string>{{436,110},{55,143}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,143}}</string>
    <key>sourceSize</key>
    <string>{55,143}</string>
   </dict>
   <key>ani_effects12_03_png-ani_ef12_3_f3.png</key>
   <dict>
    <key>frame</key>
    <string>{{184,0},{159,85}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{159,85}}</string>
    <key>sourceSize</key>
    <string>{159,85}</string>
   </dict>
   <key>ani_effects12_03_png-ani_ef12_3_f4.png</key>
   <dict>
    <key>frame</key>
    <string>{{69,0},{113,142}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{113,142}}</string>
    <key>sourceSize</key>
    <string>{113,142}</string>
   </dict>
   <key>ani_effects12_03_png-ani_ef12_3_f5.png</key>
   <dict>
    <key>frame</key>
    <string>{{184,87},{152,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{152,68}}</string>
    <key>sourceSize</key>
    <string>{152,68}</string>
   </dict>
   <key>ani_effects12_03_png-ani_ef12_3_f6.png</key>
   <dict>
    <key>frame</key>
    <string>{{345,0},{120,108}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{120,108}}</string>
    <key>sourceSize</key>
    <string>{120,108}</string>
   </dict>
   <key>ani_effects12_03_png-ani_ef12_3_f7.png</key>
   <dict>
    <key>frame</key>
    <string>{{155,157},{109,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{109,51}}</string>
    <key>sourceSize</key>
    <string>{109,51}</string>
   </dict>
   <key>ani_effects12_03_png-ani_ef12_3_f8.png</key>
   <dict>
    <key>frame</key>
    <string>{{338,110},{96,122}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{96,122}}</string>
    <key>sourceSize</key>
    <string>{96,122}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>ani_effects12_03.png</string>
   <key>textureFileName</key>
   <string>ani_effects12_03.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>