<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>ltg_png-ltg_hh.png</key>
   <dict>
    <key>frame</key>
    <string>{{88,0},{34,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,26}}</string>
    <key>sourceSize</key>
    <string>{34,26}</string>
   </dict>
   <key>ltg_png-lt_jianxiao.png</key>
   <dict>
    <key>frame</key>
    <string>{{62,75},{23,11}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,11}}</string>
    <key>sourceSize</key>
    <string>{23,11}</string>
   </dict>
   <key>ltg_png-lt_meimao.png</key>
   <dict>
    <key>frame</key>
    <string>{{104,78},{11,6}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,6}}</string>
    <key>sourceSize</key>
    <string>{11,6}</string>
   </dict>
   <key>ltg_png-lt_yanzhu.png</key>
   <dict>
    <key>frame</key>
    <string>{{79,51},{6,6}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{6,6}}</string>
    <key>sourceSize</key>
    <string>{6,6}</string>
   </dict>
   <key>ltg_png-lt_yanbai.png</key>
   <dict>
    <key>frame</key>
    <string>{{25,75},{11,8}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,8}}</string>
    <key>sourceSize</key>
    <string>{11,8}</string>
   </dict>
   <key>ltg_png-lt_bizi.png</key>
   <dict>
    <key>frame</key>
    <string>{{38,75},{7,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{7,4}}</string>
    <key>sourceSize</key>
    <string>{7,4}</string>
   </dict>
   <key>ltg_png-lt_zuiba.png</key>
   <dict>
    <key>frame</key>
    <string>{{27,70},{18,3}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,3}}</string>
    <key>sourceSize</key>
    <string>{18,3}</string>
   </dict>
   <key>ltg_png-lt_yachi.png</key>
   <dict>
    <key>frame</key>
    <string>{{27,52},{4,6}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,6}}</string>
    <key>sourceSize</key>
    <string>{4,6}</string>
   </dict>
   <key>ltg_png-lt_erduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{33,36},{13,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,32}}</string>
    <key>sourceSize</key>
    <string>{13,32}</string>
   </dict>
   <key>ltg_png-lt_toujin.png</key>
   <dict>
    <key>frame</key>
    <string>{{63,0},{23,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,49}}</string>
    <key>sourceSize</key>
    <string>{23,49}</string>
   </dict>
   <key>ltg_png-lt_tou.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{61,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,34}}</string>
    <key>sourceSize</key>
    <string>{61,34}</string>
   </dict>
   <key>ltg_png-lt_erduo02.png</key>
   <dict>
    <key>frame</key>
    <string>{{112,28},{13,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,32}}</string>
    <key>sourceSize</key>
    <string>{13,32}</string>
   </dict>
   <key>ltg_png-lt_jianbang.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,36},{31,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,14}}</string>
    <key>sourceSize</key>
    <string>{31,14}</string>
   </dict>
   <key>ltg_png-lt_kuzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,52},{25,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,18}}</string>
    <key>sourceSize</key>
    <string>{25,18}</string>
   </dict>
   <key>ltg_png-lt_shenti.png</key>
   <dict>
    <key>frame</key>
    <string>{{88,28},{22,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,27}}</string>
    <key>sourceSize</key>
    <string>{22,27}</string>
   </dict>
   <key>ltg_png-lt_shoubi.png</key>
   <dict>
    <key>frame</key>
    <string>{{104,62},{17,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,14}}</string>
    <key>sourceSize</key>
    <string>{17,14}</string>
   </dict>
   <key>ltg_png-lt_shou.png</key>
   <dict>
    <key>frame</key>
    <string>{{48,69},{12,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,17}}</string>
    <key>sourceSize</key>
    <string>{12,17}</string>
   </dict>
   <key>ltg_png-lt_jiaoy.png</key>
   <dict>
    <key>frame</key>
    <string>{{87,57},{15,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{15,22}}</string>
    <key>sourceSize</key>
    <string>{15,22}</string>
   </dict>
   <key>ltg_png-lt_jiaoz.png</key>
   <dict>
    <key>frame</key>
    <string>{{62,51},{15,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{15,22}}</string>
    <key>sourceSize</key>
    <string>{15,22}</string>
   </dict>
   <key>ltg_png-lt_weiba.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,72},{23,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,13}}</string>
    <key>sourceSize</key>
    <string>{23,13}</string>
   </dict>
   <key>ltg_png-lt_toujin02.png</key>
   <dict>
    <key>frame</key>
    <string>{{48,36},{12,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,31}}</string>
    <key>sourceSize</key>
    <string>{12,31}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>ltg.png</string>
   <key>textureFileName</key>
   <string>ltg.png</string>
   <key>size</key>
   <string>{128,128}</string>
  </dict>
 </dict>
</plist>