<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>pu_png-pu_zhangkaizui.png</key>
   <dict>
    <key>frame</key>
    <string>{{97,42},{10,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,5}}</string>
    <key>sourceSize</key>
    <string>{10,5}</string>
   </dict>
   <key>pu_png-pu_zhousb.png</key>
   <dict>
    <key>frame</key>
    <string>{{44,0},{35,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,24}}</string>
    <key>sourceSize</key>
    <string>{35,24}</string>
   </dict>
   <key>pu_png-pu_xin.png</key>
   <dict>
    <key>frame</key>
    <string>{{80,42},{15,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{15,14}}</string>
    <key>sourceSize</key>
    <string>{15,14}</string>
   </dict>
   <key>pu_png-pu_yanzhu.png</key>
   <dict>
    <key>frame</key>
    <string>{{68,46},{6,6}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{6,6}}</string>
    <key>sourceSize</key>
    <string>{6,6}</string>
   </dict>
   <key>pu_png-pu_yanbai.png</key>
   <dict>
    <key>frame</key>
    <string>{{68,26},{11,11}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,11}}</string>
    <key>sourceSize</key>
    <string>{11,11}</string>
   </dict>
   <key>pu_png-pu_bizi.png</key>
   <dict>
    <key>frame</key>
    <string>{{39,36},{3,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{3,2}}</string>
    <key>sourceSize</key>
    <string>{3,2}</string>
   </dict>
   <key>pu_png-pu_zuiba.png</key>
   <dict>
    <key>frame</key>
    <string>{{68,39},{10,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,5}}</string>
    <key>sourceSize</key>
    <string>{10,5}</string>
   </dict>
   <key>pu_png-pu_huzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{60,54},{14,7}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,7}}</string>
    <key>sourceSize</key>
    <string>{14,7}</string>
   </dict>
   <key>pu_png-pu_hudiejie.png</key>
   <dict>
    <key>frame</key>
    <string>{{20,52},{17,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,10}}</string>
    <key>sourceSize</key>
    <string>{17,10}</string>
   </dict>
   <key>pu_png-pu_tou.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{42,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,34}}</string>
    <key>sourceSize</key>
    <string>{42,34}</string>
   </dict>
   <key>pu_png-pu_erduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{44,26},{22,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,26}}</string>
    <key>sourceSize</key>
    <string>{22,26}</string>
   </dict>
   <key>pu_png-pu_yaodai.png</key>
   <dict>
    <key>frame</key>
    <string>{{39,54},{19,6}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,6}}</string>
    <key>sourceSize</key>
    <string>{19,6}</string>
   </dict>
   <key>pu_png-pu_shenti.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,36},{18,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,18}}</string>
    <key>sourceSize</key>
    <string>{18,18}</string>
   </dict>
   <key>pu_png-pu_qunzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{81,0},{27,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,25}}</string>
    <key>sourceSize</key>
    <string>{27,25}</string>
   </dict>
   <key>pu_png-pu_jiaoy.png</key>
   <dict>
    <key>frame</key>
    <string>{{110,0},{12,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,20}}</string>
    <key>sourceSize</key>
    <string>{12,20}</string>
   </dict>
   <key>pu_png-pu_jiaoz.png</key>
   <dict>
    <key>frame</key>
    <string>{{110,22},{12,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,20}}</string>
    <key>sourceSize</key>
    <string>{12,20}</string>
   </dict>
   <key>pu_png-pu_shoubi.png</key>
   <dict>
    <key>frame</key>
    <string>{{20,36},{17,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,14}}</string>
    <key>sourceSize</key>
    <string>{17,14}</string>
   </dict>
   <key>pu_png-pu_shou.png</key>
   <dict>
    <key>frame</key>
    <string>{{109,44},{12,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,17}}</string>
    <key>sourceSize</key>
    <string>{12,17}</string>
   </dict>
   <key>pu_png-pu_weiba.png</key>
   <dict>
    <key>frame</key>
    <string>{{81,27},{23,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,13}}</string>
    <key>sourceSize</key>
    <string>{23,13}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>pu.png</string>
   <key>textureFileName</key>
   <string>pu.png</string>
   <key>size</key>
   <string>{128,64}</string>
  </dict>
 </dict>
</plist>