<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>ybh_1-ybh_rengzuiba.png</key>
   <dict>
    <key>frame</key>
    <string>{{67,48},{25,6}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,6}}</string>
    <key>sourceSize</key>
    <string>{25,6}</string>
   </dict>
   <key>ybh_1-ybh_kxzui.png</key>
   <dict>
    <key>frame</key>
    <string>{{43,44},{22,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,13}}</string>
    <key>sourceSize</key>
    <string>{22,13}</string>
   </dict>
   <key>ybh_1-ybh_yanzhu.png</key>
   <dict>
    <key>frame</key>
    <string>{{116,14},{4,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,4}}</string>
    <key>sourceSize</key>
    <string>{4,4}</string>
   </dict>
   <key>ybh_1-ybh_zuiba.png</key>
   <dict>
    <key>frame</key>
    <string>{{67,56},{11,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,4}}</string>
    <key>sourceSize</key>
    <string>{11,4}</string>
   </dict>
   <key>ybh_1-ybh_tou.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{41,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,44}}</string>
    <key>sourceSize</key>
    <string>{41,44}</string>
   </dict>
   <key>ybh_1-ybh_erduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{111,45},{12,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,14}}</string>
    <key>sourceSize</key>
    <string>{12,14}</string>
   </dict>
   <key>ybh_1-ybh_kuzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,46},{34,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,17}}</string>
    <key>sourceSize</key>
    <string>{34,17}</string>
   </dict>
   <key>ybh_1-ybh_shenti.png</key>
   <dict>
    <key>frame</key>
    <string>{{43,0},{28,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,42}}</string>
    <key>sourceSize</key>
    <string>{28,42}</string>
   </dict>
   <key>ybh_1-ybh_shoubi.png</key>
   <dict>
    <key>frame</key>
    <string>{{97,25},{20,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,18}}</string>
    <key>sourceSize</key>
    <string>{20,18}</string>
   </dict>
   <key>ybh_1-ybh_shou.png</key>
   <dict>
    <key>frame</key>
    <string>{{97,45},{12,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,20}}</string>
    <key>sourceSize</key>
    <string>{12,20}</string>
   </dict>
   <key>ybh_1-ybh_weiba.png</key>
   <dict>
    <key>frame</key>
    <string>{{73,0},{22,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,46}}</string>
    <key>sourceSize</key>
    <string>{22,46}</string>
   </dict>
   <key>ybh_1-ybh_datui.png</key>
   <dict>
    <key>frame</key>
    <string>{{97,0},{17,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,23}}</string>
    <key>sourceSize</key>
    <string>{17,23}</string>
   </dict>
   <key>ybh_1-ybh_xiaotui.png</key>
   <dict>
    <key>frame</key>
    <string>{{116,0},{9,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{9,12}}</string>
    <key>sourceSize</key>
    <string>{9,12}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>ybh.png</string>
   <key>textureFileName</key>
   <string>ybh.png</string>
   <key>size</key>
   <string>{128,128}</string>
  </dict>
 </dict>
</plist>