<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>ani_building_7_1-ssrmx_ren.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{188,211}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{188,211}}</string>
        <key>sourceSize</key>
        <string>{188,211}</string>
      </dict>
      <key>ani_building_7_1-ssrmx_tx.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,0},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>ani_building_7_1-ssrmx_ta01.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,0},{141,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,134}}</string>
        <key>sourceSize</key>
        <string>{141,134}</string>
      </dict>
      <key>ani_building_7_1-ssrmx_ta02.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,102},{92,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,82}}</string>
        <key>sourceSize</key>
        <string>{92,82}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>ani_building_7.png</string>
      <key>textureFileName</key>
      <string>ani_building_7.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>