<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>ani_building_5_1-zbt_t01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{430,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{430,80}}</string>
        <key>sourceSize</key>
        <string>{430,80}</string>
      </dict>
      <key>ani_building_5_1-zbt_t02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,82},{301,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{301,80}}</string>
        <key>sourceSize</key>
        <string>{301,80}</string>
      </dict>
      <key>ani_building_5_1-zbt_t03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,164},{228,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{228,80}}</string>
        <key>sourceSize</key>
        <string>{228,80}</string>
      </dict>
      <key>ani_building_5_1-zbt_tx.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,165},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>ani_building_5_1-zbt_t04.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,82},{158,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{158,81}}</string>
        <key>sourceSize</key>
        <string>{158,81}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>ani_building_5.png</string>
      <key>textureFileName</key>
      <string>ani_building_5.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>