<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>ani_building_3_1-jyg_m.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{309,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{309,82}}</string>
        <key>sourceSize</key>
        <string>{309,82}</string>
      </dict>
      <key>ani_building_3_1-jyg_cm02.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,0},{184,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{184,124}}</string>
        <key>sourceSize</key>
        <string>{184,124}</string>
      </dict>
      <key>ani_building_3_1-jyg_c01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,84},{141,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,64}}</string>
        <key>sourceSize</key>
        <string>{141,64}</string>
      </dict>
      <key>ani_building_3_1-jyg_tx.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,84},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>ani_building_3_1-jyg_c02.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,126},{82,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,56}}</string>
        <key>sourceSize</key>
        <string>{82,56}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>ani_building_3.png</string>
      <key>textureFileName</key>
      <string>ani_building_3.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>