<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>ani_building_1_1-shg_m.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{308,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{308,83}}</string>
        <key>sourceSize</key>
        <string>{308,83}</string>
      </dict>
      <key>ani_building_1_1-shg_tx.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,75},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>ani_building_1_1-shg_lou.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,0},{183,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{183,73}}</string>
        <key>sourceSize</key>
        <string>{183,73}</string>
      </dict>
      <key>ani_building_1_1-shg_cq.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,85},{104,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,72}}</string>
        <key>sourceSize</key>
        <string>{104,72}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>ani_building_1.png</string>
      <key>textureFileName</key>
      <string>ani_building_1.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>