<?xml version="1.0" encoding="UTF-8"?>
<plist>
  <dict>
    <key>maxParticles</key>
    <real>70</real>
    <key>angle</key>
    <real>90.000000</real>
    <key>angleVariance</key>
    <real>50.000000</real>
    <key>duration</key>
    <real>0.100000</real>
    <key>blendFuncSource</key>
    <integer>770</integer>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>startColorRed</key>
    <real>0.811765</real>
    <key>startColorGreen</key>
    <real>0.917647</real>
    <key>startColorBlue</key>
    <real>0.952941</real>
    <key>startColorAlpha</key>
    <real>0.117647</real>
    <key>startColorVarianceRed</key>
    <real>0.039216</real>
    <key>startColorVarianceGreen</key>
    <real>0.039216</real>
    <key>startColorVarianceBlue</key>
    <real>0.039216</real>
    <key>startColorVarianceAlpha</key>
    <real>0.039216</real>
    <key>finishColorRed</key>
    <real>0.160784</real>
    <key>finishColorGreen</key>
    <real>0.725490</real>
    <key>finishColorBlue</key>
    <real>0.752941</real>
    <key>finishColorAlpha</key>
    <real>0.000000</real>
    <key>finishColorVarianceRed</key>
    <real>0.784314</real>
    <key>finishColorVarianceGreen</key>
    <real>0.784314</real>
    <key>finishColorVarianceBlue</key>
    <real>0.784314</real>
    <key>finishColorVarianceAlpha</key>
    <real>0.000000</real>
    <key>startParticleSize</key>
    <real>50.000000</real>
    <key>startParticleSizeVariance</key>
    <real>20.000000</real>
    <key>finishParticleSize</key>
    <real>30.000000</real>
    <key>finishParticleSizeVariance</key>
    <real>15.000000</real>
    <key>sourcePositionx</key>
    <real>0.000000</real>
    <key>sourcePositiony</key>
    <real>0.000000</real>
    <key>sourcePositionVariancex</key>
    <real>0.000000</real>
    <key>sourcePositionVariancey</key>
    <real>0.000000</real>
    <key>rotationStart</key>
    <real>0.000000</real>
    <key>rotationStartVariance</key>
    <real>0.000000</real>
    <key>rotationEnd</key>
    <real>0.000000</real>
    <key>rotationEndVariance</key>
    <real>100.000000</real>
    <key>emitterType</key>
    <integer>0</integer>
    <key>gravityx</key>
    <real>0.000000</real>
    <key>gravityy</key>
    <real>0.000000</real>
    <key>speed</key>
    <real>200.000000</real>
    <key>speedVariance</key>
    <real>60.000000</real>
    <key>radialAcceleration</key>
    <real>-180.000000</real>
    <key>radialAccelVariance</key>
    <real>40.000000</real>
    <key>tangentialAcceleration</key>
    <real>15.000000</real>
    <key>tangentialAccelVariance</key>
    <real>0.000000</real>
    <key>tangentialAccelVariance</key>
    <real>0.000000</real>
    <key>rotationIsDir</key>
    <integer>1</integer>
    <key>particleLifespan</key>
    <real>0.700000</real>
    <key>particleLifespanVariance</key>
    <real>0.300000</real>
    <key>textureFileName</key>
    <string>particle_square02.png</string>
  </dict>
</plist>
