<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>ani_building_9_1-kenksm_tx.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,0},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>ani_building_9_1-kenksm_zhuan.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,0},{59,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,35}}</string>
        <key>sourceSize</key>
        <string>{59,35}</string>
      </dict>
      <key>ani_building_9_1-kenksm_ding.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,124},{306,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{306,52}}</string>
        <key>sourceSize</key>
        <string>{306,52}</string>
      </dict>
      <key>ani_building_9_1-kenksm_fangzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{320,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{320,122}}</string>
        <key>sourceSize</key>
        <string>{320,122}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>ani_building_9.png</string>
      <key>textureFileName</key>
      <string>ani_building_9.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>