<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>ani_building_15_1-kzhy_yun01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,97},{196,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,47}}</string>
        <key>sourceSize</key>
        <string>{196,47}</string>
      </dict>
      <key>ani_building_15_1-kzhy_yun02.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,116},{187,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{187,46}}</string>
        <key>sourceSize</key>
        <string>{187,46}</string>
      </dict>
      <key>ani_building_15_1-kzhy_yun03.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,164},{107,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,18}}</string>
        <key>sourceSize</key>
        <string>{107,18}</string>
      </dict>
      <key>ani_building_15_1-kzhy_diji.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,0},{243,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{243,53}}</string>
        <key>sourceSize</key>
        <string>{243,53}</string>
      </dict>
      <key>ani_building_15_1-kzhy_fangzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{202,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{202,95}}</string>
        <key>sourceSize</key>
        <string>{202,95}</string>
      </dict>
      <key>ani_building_15_1-kzhy_tx.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,146},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>ani_building_15_1-kzhy_ding.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,116},{98,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,120}}</string>
        <key>sourceSize</key>
        <string>{98,120}</string>
      </dict>
      <key>ani_building_15_1-kzhy_yun04.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,55},{230,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{230,59}}</string>
        <key>sourceSize</key>
        <string>{230,59}</string>
      </dict>
      <key>ani_building_15_1-kzhy_yun05.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,164},{104,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,25}}</string>
        <key>sourceSize</key>
        <string>{104,25}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>ani_building_15.png</string>
      <key>textureFileName</key>
      <string>ani_building_15.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>