<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>ani_building_8_1-abxbsm_shitou.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{321,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{321,110}}</string>
        <key>sourceSize</key>
        <string>{321,110}</string>
      </dict>
      <key>ani_building_8_1-abxbsm_tx.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,84},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>ani_building_8_1-abxbsm_t02.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,0},{135,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,82}}</string>
        <key>sourceSize</key>
        <string>{135,82}</string>
      </dict>
      <key>ani_building_8_1-abxbsm_t03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,112},{190,118}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{190,118}}</string>
        <key>sourceSize</key>
        <string>{190,118}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>ani_building_8.png</string>
      <key>textureFileName</key>
      <string>ani_building_8.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>