<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>ani_effects15_01_png-ani_eff15_yun01.png</key>
   <dict>
    <key>frame</key>
    <string>{{194,97},{146,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,43}}</string>
    <key>sourceSize</key>
    <string>{146,43}</string>
   </dict>
   <key>ani_effects15_01_png-ani_eff15_shuibo.png</key>
   <dict>
    <key>frame</key>
    <string>{{374,97},{27,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,15}}</string>
    <key>sourceSize</key>
    <string>{27,15}</string>
   </dict>
   <key>ani_effects15_01_png-ani_eff15_zhuzi02.png</key>
   <dict>
    <key>frame</key>
    <string>{{194,142},{210,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{210,74}}</string>
    <key>sourceSize</key>
    <string>{210,74}</string>
   </dict>
   <key>ani_effects15_01_png-ani_eff15_zhuzi002.png</key>
   <dict>
    <key>frame</key>
    <string>{{194,0},{208,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{208,95}}</string>
    <key>sourceSize</key>
    <string>{208,95}</string>
   </dict>
   <key>ani_effects15_01_png-ani_eff15_zhuzi01.png</key>
   <dict>
    <key>frame</key>
    <string>{{461,79},{47,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,27}}</string>
    <key>sourceSize</key>
    <string>{47,27}</string>
   </dict>
   <key>ani_effects15_01_png-ani_eff15_zhuzi001.png</key>
   <dict>
    <key>frame</key>
    <string>{{461,50},{47,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,27}}</string>
    <key>sourceSize</key>
    <string>{47,27}</string>
   </dict>
   <key>ani_effects15_01_png-ani_eff15_taguang01.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{192,194}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{192,194}}</string>
    <key>sourceSize</key>
    <string>{192,194}</string>
   </dict>
   <key>ani_effects15_01_png-ani_eff15_reqiqiu.png</key>
   <dict>
    <key>frame</key>
    <string>{{404,0},{55,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,93}}</string>
    <key>sourceSize</key>
    <string>{55,93}</string>
   </dict>
   <key>ani_effects15_01_png-ani_eff15_chuan02.png</key>
   <dict>
    <key>frame</key>
    <string>{{442,108},{18,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,17}}</string>
    <key>sourceSize</key>
    <string>{18,17}</string>
   </dict>
   <key>ani_effects15_01_png-ani_eff15_chuan01.png</key>
   <dict>
    <key>frame</key>
    <string>{{462,108},{19,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,5}}</string>
    <key>sourceSize</key>
    <string>{19,5}</string>
   </dict>
   <key>ani_effects15_01_png-ani_eff15_qdshui.png</key>
   <dict>
    <key>frame</key>
    <string>{{342,97},{30,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,13}}</string>
    <key>sourceSize</key>
    <string>{30,13}</string>
   </dict>
   <key>ani_effects15_01_png-ani_eff15_wujiaoxing002.png</key>
   <dict>
    <key>frame</key>
    <string>{{404,95},{36,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,34}}</string>
    <key>sourceSize</key>
    <string>{36,34}</string>
   </dict>
   <key>ani_effects15_01_png-ani_eff15_wujiaoxing.png</key>
   <dict>
    <key>frame</key>
    <string>{{461,0},{48,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,48}}</string>
    <key>sourceSize</key>
    <string>{48,48}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>ani_effects15_01.png</string>
   <key>textureFileName</key>
   <string>ani_effects15_01.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>