<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>ani_prop02_png-prop02_sanguang.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,34},{32,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,32}}</string>
    <key>sourceSize</key>
    <string>{32,32}</string>
   </dict>
   <key>ani_prop02_png-prop02_02.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{32,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,32}}</string>
    <key>sourceSize</key>
    <string>{32,32}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>ani_prop02.png</string>
   <key>textureFileName</key>
   <string>ani_prop02.png</string>
   <key>size</key>
   <string>{64,128}</string>
  </dict>
 </dict>
</plist>