<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>ani_effects12_02_png-ani_ef12_2_y8.png</key>
   <dict>
    <key>frame</key>
    <string>{{197,0},{56,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,56}}</string>
    <key>sourceSize</key>
    <string>{56,56}</string>
   </dict>
   <key>ani_effects12_02_png-ani_ef12_2_y7.png</key>
   <dict>
    <key>frame</key>
    <string>{{169,106},{77,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,29}}</string>
    <key>sourceSize</key>
    <string>{77,29}</string>
   </dict>
   <key>ani_effects12_02_png-ani_ef12_2_y6.png</key>
   <dict>
    <key>frame</key>
    <string>{{90,0},{42,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,77}}</string>
    <key>sourceSize</key>
    <string>{42,77}</string>
   </dict>
   <key>ani_effects12_02_png-ani_ef12_2_y5.png</key>
   <dict>
    <key>frame</key>
    <string>{{134,0},{61,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,55}}</string>
    <key>sourceSize</key>
    <string>{61,55}</string>
   </dict>
   <key>ani_effects12_02_png-ani_ef12_2_y4.png</key>
   <dict>
    <key>frame</key>
    <string>{{13,134},{67,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,26}}</string>
    <key>sourceSize</key>
    <string>{67,26}</string>
   </dict>
   <key>ani_effects12_02_png-ani_ef12_2_y3.png</key>
   <dict>
    <key>frame</key>
    <string>{{13,0},{75,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,44}}</string>
    <key>sourceSize</key>
    <string>{75,44}</string>
   </dict>
   <key>ani_effects12_02_png-ani_ef12_2_y1.png</key>
   <dict>
    <key>frame</key>
    <string>{{13,46},{64,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,47}}</string>
    <key>sourceSize</key>
    <string>{64,47}</string>
   </dict>
   <key>ani_effects12_02_png-ani_ef12_2_y2.png</key>
   <dict>
    <key>frame</key>
    <string>{{134,57},{33,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,77}}</string>
    <key>sourceSize</key>
    <string>{33,77}</string>
   </dict>
   <key>ani_effects12_02_png-ani_ef12_2_shugan.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{11,202}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,202}}</string>
    <key>sourceSize</key>
    <string>{11,202}</string>
   </dict>
   <key>ani_effects12_02_png-ani_ef12_3_y9.png</key>
   <dict>
    <key>frame</key>
    <string>{{13,95},{27,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,27}}</string>
    <key>sourceSize</key>
    <string>{27,27}</string>
   </dict>
   <key>ani_effects12_02_png-ani_ef12_3_y8.png</key>
   <dict>
    <key>frame</key>
    <string>{{85,107},{37,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,14}}</string>
    <key>sourceSize</key>
    <string>{37,14}</string>
   </dict>
   <key>ani_effects12_02_png-ani_ef12_3_y7.png</key>
   <dict>
    <key>frame</key>
    <string>{{169,57},{20,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,37}}</string>
    <key>sourceSize</key>
    <string>{20,37}</string>
   </dict>
   <key>ani_effects12_02_png-ani_ef12_3_y6.png</key>
   <dict>
    <key>frame</key>
    <string>{{85,79},{29,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,26}}</string>
    <key>sourceSize</key>
    <string>{29,26}</string>
   </dict>
   <key>ani_effects12_02_png-ani_ef12_3_y5.png</key>
   <dict>
    <key>frame</key>
    <string>{{42,95},{32,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,12}}</string>
    <key>sourceSize</key>
    <string>{32,12}</string>
   </dict>
   <key>ani_effects12_02_png-ani_ef12_3_y4.png</key>
   <dict>
    <key>frame</key>
    <string>{{191,58},{36,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,21}}</string>
    <key>sourceSize</key>
    <string>{36,21}</string>
   </dict>
   <key>ani_effects12_02_png-ani_ef12_3_y3.png</key>
   <dict>
    <key>frame</key>
    <string>{{229,58},{16,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,37}}</string>
    <key>sourceSize</key>
    <string>{16,37}</string>
   </dict>
   <key>ani_effects12_02_png-ani_ef12_3_y2.png</key>
   <dict>
    <key>frame</key>
    <string>{{191,81},{31,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,23}}</string>
    <key>sourceSize</key>
    <string>{31,23}</string>
   </dict>
   <key>ani_effects12_02_png-ani_ef12_3_y1.png</key>
   <dict>
    <key>frame</key>
    <string>{{79,46},{4,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,86}}</string>
    <key>sourceSize</key>
    <string>{4,86}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>ani_effects12_02.png</string>
   <key>textureFileName</key>
   <string>ani_effects12_02.png</string>
   <key>size</key>
   <string>{256,256}</string>
  </dict>
 </dict>
</plist>