<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>dj_1-dj_yunyan.png</key>
   <dict>
    <key>frame</key>
    <string>{{37,50},{9,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{9,10}}</string>
    <key>sourceSize</key>
    <string>{9,10}</string>
   </dict>
   <key>dj_1-dj_zui03.png</key>
   <dict>
    <key>frame</key>
    <string>{{11,50},{13,6}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,6}}</string>
    <key>sourceSize</key>
    <string>{13,6}</string>
   </dict>
   <key>dj_1-dj_jushou.png</key>
   <dict>
    <key>frame</key>
    <string>{{77,10},{8,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{8,18}}</string>
    <key>sourceSize</key>
    <string>{8,18}</string>
   </dict>
   <key>dj_1-dj_jushoubi.png</key>
   <dict>
    <key>frame</key>
    <string>{{74,30},{10,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,15}}</string>
    <key>sourceSize</key>
    <string>{10,15}</string>
   </dict>
   <key>dj_1-dj_xiaozui.png</key>
   <dict>
    <key>frame</key>
    <string>{{108,56},{8,7}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{8,7}}</string>
    <key>sourceSize</key>
    <string>{8,7}</string>
   </dict>
   <key>dj_1-dj_yanzhu.png</key>
   <dict>
    <key>frame</key>
    <string>{{56,38},{4,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,5}}</string>
    <key>sourceSize</key>
    <string>{4,5}</string>
   </dict>
   <key>dj_1-dj_yanbai.png</key>
   <dict>
    <key>frame</key>
    <string>{{85,53},{8,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{8,10}}</string>
    <key>sourceSize</key>
    <string>{8,10}</string>
   </dict>
   <key>dj_1-dj_huzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{95,53},{11,6}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{11,6}}</string>
    <key>sourceSize</key>
    <string>{11,6}</string>
   </dict>
   <key>dj_1-dj_huzi02.png</key>
   <dict>
    <key>frame</key>
    <string>{{120,42},{3,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{3,5}}</string>
    <key>sourceSize</key>
    <string>{3,5}</string>
   </dict>
   <key>dj_1-dj_zuiba.png</key>
   <dict>
    <key>frame</key>
    <string>{{101,40},{5,3}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{5,3}}</string>
    <key>sourceSize</key>
    <string>{5,3}</string>
   </dict>
   <key>dj_1-dj_erduo.png</key>
   <dict>
    <key>frame</key>
    <string>{{62,26},{10,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,16}}</string>
    <key>sourceSize</key>
    <string>{10,16}</string>
   </dict>
   <key>dj_1-dj_tou.png</key>
   <dict>
    <key>frame</key>
    <string>{{87,0},{37,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,27}}</string>
    <key>sourceSize</key>
    <string>{37,27}</string>
   </dict>
   <key>dj_1-dj_erduo02.png</key>
   <dict>
    <key>frame</key>
    <string>{{48,50},{8,11}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{8,11}}</string>
    <key>sourceSize</key>
    <string>{8,11}</string>
   </dict>
   <key>dj_1-dj_shoubi.png</key>
   <dict>
    <key>frame</key>
    <string>{{26,50},{9,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{9,10}}</string>
    <key>sourceSize</key>
    <string>{9,10}</string>
   </dict>
   <key>dj_1-dj_danjia.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{85,8}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,8}}</string>
    <key>sourceSize</key>
    <string>{85,8}</string>
   </dict>
   <key>dj_1-dj_danjiabu.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,10},{75,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,14}}</string>
    <key>sourceSize</key>
    <string>{75,14}</string>
   </dict>
   <key>dj_1-dj_shenti.png</key>
   <dict>
    <key>frame</key>
    <string>{{20,26},{18,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,22}}</string>
    <key>sourceSize</key>
    <string>{18,22}</string>
   </dict>
   <key>dj_1-dj_jh02.png</key>
   <dict>
    <key>frame</key>
    <string>{{62,44},{10,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,12}}</string>
    <key>sourceSize</key>
    <string>{10,12}</string>
   </dict>
   <key>dj_1-dj_jh01.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,50},{9,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{9,13}}</string>
    <key>sourceSize</key>
    <string>{9,13}</string>
   </dict>
   <key>dj_1-dj_yao.png</key>
   <dict>
    <key>frame</key>
    <string>{{40,26},{20,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,10}}</string>
    <key>sourceSize</key>
    <string>{20,10}</string>
   </dict>
   <key>dj_1-dj_weiba.png</key>
   <dict>
    <key>frame</key>
    <string>{{109,29},{17,11}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,11}}</string>
    <key>sourceSize</key>
    <string>{17,11}</string>
   </dict>
   <key>dj_1-dj_shenti02.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,26},{18,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,22}}</string>
    <key>sourceSize</key>
    <string>{18,22}</string>
   </dict>
   <key>dj_1-dj_jc02.png</key>
   <dict>
    <key>frame</key>
    <string>{{108,42},{10,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,12}}</string>
    <key>sourceSize</key>
    <string>{10,12}</string>
   </dict>
   <key>dj_1-dj_jc01.png</key>
   <dict>
    <key>frame</key>
    <string>{{74,47},{9,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{9,13}}</string>
    <key>sourceSize</key>
    <string>{9,13}</string>
   </dict>
   <key>dj_1-dj_yao02.png</key>
   <dict>
    <key>frame</key>
    <string>{{87,29},{20,9}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,9}}</string>
    <key>sourceSize</key>
    <string>{20,9}</string>
   </dict>
   <key>dj_1-dj_weiba02.png</key>
   <dict>
    <key>frame</key>
    <string>{{86,40},{13,11}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,11}}</string>
    <key>sourceSize</key>
    <string>{13,11}</string>
   </dict>
   <key>dj_1-dj_shou.png</key>
   <dict>
    <key>frame</key>
    <string>{{40,38},{14,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,10}}</string>
    <key>sourceSize</key>
    <string>{14,10}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>dj.png</string>
   <key>textureFileName</key>
   <string>dj.png</string>
   <key>size</key>
   <string>{128,128}</string>
  </dict>
 </dict>
</plist>